.confirmation-msg-container {
  height: calc(100vh - 6rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.confirmation-card {
  padding: 2rem;
  background: #fff;
  margin-top: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.239);
  border-radius: 2rem;
  width: 60rem;
}
.confirmation-card video {
  width: 100%;
  pointer-events: none;
}
.confirmation-card h1 {
  text-align: center;
  color: #1cff14;
  font-size: 3rem;
}
.confirmation-card p {
  text-align: center;
  font-size: 1.5rem;
}
.order-confirmation-details {
  padding: 2rem;
  margin-top: 2rem;
  width: 60rem;

  background: #fff;
  height: max-content;

  box-shadow: 0 2px 5px rgb(0 0 0 / 24%);
  border-radius: 2rem;
}
.order-confirmation-details h2 {
  font-size: 2rem;
}
.order-confirmation-details p {
  font-size: 1.3rem;
}
.order-confirmation-details span {
  font-size: 1.4rem;
  font-weight: bold;
}
.thankyou-btn {
  width: 60rem;
  margin-top: 2rem;
}
.thankyou-btn button {
  width: 100%;
  padding: 2rem;
  background: #b3e140;
  outline: none;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.239);
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 700px) {
  .confirmation-card,
  .order-confirmation-details,
  .thankyou-btn {
    width: 95%;
  }
}
@media (max-width: 500px) {
  .confirmation-card h1 {
    font-size: 1.5rem;
  }
  .confirmation-card video {
    height: 116px;
    margin-top: 1rem;
  }
  .confirmation-card p {
    font-size: 1.2rem;
  }
  .order-confirmation-details h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
