* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: black;
}

.btn {
  background: #b3e140;
  padding: 2rem 5rem;
  border-radius: 1.5rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 1rem;
  box-shadow: 0 0.5rem 1rem rgba(34, 34, 34, 0.233);
  border: 1px solid rgba(0, 0, 0, 0.103);
}
.btn:disabled {
  background: #eee;
  color: rgb(216, 213, 213);
  cursor: not-allowed;
}

@media (max-width: 540px) {
  .btn {
    width: 200px;
    padding: 1.5rem 1rem;
  }
}
